on:
  - push
  - pull_request
defaults:
  run:
    working-directory: bots/asakatsu-bot
jobs:
  biome:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: biomejs/setup-biome@v2
      - run: biome check
